<!DOCTYPE html>

{% extends 'hubapp/base.html' %}

{% load static %}

{% block content %}
<!-- deleted <p> tags from around h1 title because there was an 'ignored'message, but if something is wrong with the layout I should try putting them back.-->
<h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-3">
<!-- !!!        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>

                <!-- in the href below app_name:path is the namespace that uniquely identifies the Django view -->
                <!--  projects is the app name variable from urls.py urlpatterns, project_detail is the name variable -->
                <a href="{% url 'hubapp:project_detail' project.pk %}" class="btn btn-primary">About</a>
            </div>
        </div>
-->
    </div>
{% endfor %}
</div>
{% endblock %}

