body {
  background-color: #fffff8;
}

h1, h2, h3 {
    font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  }

p {
    font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  }



