<!-- This is a holding page for production, it must be updated later. 
When DEBUG=False in production settings, Django renders a template with the name 404.html in the root template directory. This page will eventually inherit from base.html. This page is not currently loading, it is not on path. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- html header title - doesn't show in the view -->
    <title>404 page response</title>
</head>
<body>
<h1>Page not found</h1>
 <p>Sorry, but the requested page could not be
found.</p>
</body>

